$closeFieldMargin: 10px;

#ame-field-row-are_advanced_options_visible {
	margin-top: $closeFieldMargin * 2;
	margin-bottom: $closeFieldMargin;
}

#ame-field-row-is_live_preview_enabled {
	margin-top: $closeFieldMargin;
}